# Build & Cache
*.iml
.gradle/
build/
**/build/
local.properties

# IDE & Editor
.idea/
*.iws
*.ipr
.vscode/
.DS_Store
*.swp
*~

# Kotlin & Multiplatform
.kotlin/
captures/
.externalNativeBuild/
.cxx/

# Xcode & iOS
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Dependencies
node_modules/
